<!-- master.html -->


<!DOCTYPE html>
<html lang="en">


<head>

  <title>{% block title %}{% endblock %}</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous">

  {% load static %}
  <!-- Add additional CSS in static file -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  <!-- Colorfield -->
  <script src="{% static 'colorfield/jscolor/jscolor.js' %}"></script>
  <script src="{% static 'colorfield/colorfield.js' %}"></script>

  {% block head %}{% endblock %}

</head>


<body>
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-2">
        <ul style="margin-top:20px;padding:0;list-style:none">
          {% if user.is_authenticated %}
            <li>User: {{ user.get_username }}</li>
            <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
          {% else %}
            <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
          {% endif %}
        </ul>
        <p><button style="background-color:DodgerBlue;color:white;padding:10px;text-align:center;border:none;border-radius:6px;width:150px"
                   onclick="document.location='{% url 'tasks:tasks' %}'">Tasks</button></p>
        <p><button style="background-color:DodgerBlue;color:white;padding:10px;text-align:center;border:none;border-radius:6px;width:150px"
                   onclick="document.location='{% url 'tasks:lists' %}'">Task Lists</button></p>
        <p><button style="background-color:MediumSeaGreen;color:white;padding:10px;text-align:center;border:none;border-radius:6px;width:150px"
                   onclick="document.location='{% url 'notes:notes' %}'">Notes</button></p>
        <p><button style="background-color:MediumSeaGreen;color:white;padding:10px;text-align:center;border:none;border-radius:6px;width:150px"
                   onclick="document.location='{% url 'notes:lists' %}'">Note Lists</button></p>
      </div>

      <div class="col-sm-10 ">
        {% block content %}{% endblock %}
      </div>

    </div>
  </div>
</body>


</html>
