<!-- notes_notes.html -->


{% extends "master.html" %}


{% block title %}Django Portfolio{% endblock %}


{% block head %}
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
    }
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
{% endblock %}


{% block content %}

  <br><h1>Notes</h1><br>

  <p><button style="background-color:DodgerBlue;color:white;padding:10px;text-align:center;border:none;border-radius:6px" 
             onclick="document.location='{% url 'notes:add_note' %}'">Add Note</button></p>

  {% if notes_data %}

    <table>
      <tr>
        {% if superuser %}
          <th style="text-align:center">Owner</th>
        {% endif %}
        <th style="text-align:center">Title</th>
        <th style="text-align:center">List</th>
        <th style="text-align:center">Starred</th>
        <th style="text-align:center">Action</th>
      </tr>
      {% comment %} {% for note_data in notes_data %} {% endcomment %}
      {% for note_data in page_obj %}
      <tr>
        {% if superuser %}
          <td>{{ note_data.owner }}</td>
        {% endif %}
        <td><a title="Edit" href="{{ note_data.get_absolute_url }}">{{ note_data.title }}</a></td>
        <td style="background-color:{{ note_data.list.color }}80">{{ note_data.list }}</td>
        {% if note_data.starred == True %}
          <td style="text-align:center">&#11088;</td>
        {% else %}
          <td></td>
        {% endif %}
        <td style="text-align:center">
          <a title="Edit" style="text-decoration:none" href="{{ note_data.get_absolute_url }}">&#9999;&#65039;</a>
          <a title="Delete" style="text-decoration:none" href="{% url 'notes:delete_note' note_data.id %}">&#128465;&#65039;</a>
        </td>
      </tr>
      {% endfor %}
    </table>

    <p>
      <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}
          <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
      </div>
    </p>

  {% else %}

    <p>No notes found.</p>

  {% endif %}

{% endblock %}
