<!-- notes_lists.html -->


{% extends "master.html" %}


{% block title %}Django Portfolio{% endblock %}


{% block head %}
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      {% comment %} width: 100%; {% endcomment %}
    }
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
{% endblock %}


{% block content %}

  <br><h1>Note Lists</h1>

  <p><button style="background-color:DodgerBlue;color:white;padding:10px;text-align:center;border:none;border-radius:6px" 
             onclick="document.location='{% url 'notes:add_list' %}'">Add Note List</button></p>

  {% if lists_data %}

    <table>
      <tr>
        {% if superuser %}
          <th style="text-align:center">Owner</th>
        {% endif %}
        <th style="text-align:center">Name</th>
        <th style="text-align:center">Color</th>
        <th style="text-align:center">Action</th>
      </tr>
      {% comment %} {% for list_data in lists_data %} {% endcomment %}
      {% for list_data in page_obj %}
      <tr>
        {% if superuser %}
          <td>{{ list_data.owner }}</td>
        {% endif %}
        <td><a title="Edit" href="{{ list_data.get_absolute_url }}">{{ list_data.name }}</a></td>
        <td style="background-color:{{ list_data.color }}80"></td>
        <td style="text-align:center">
          <a title="Edit" style="text-decoration:none" href="{{ list_data.get_absolute_url }}">&#9999;&#65039;</a>
          <a title="Delete" style="text-decoration:none" href="{% url 'notes:delete_list' list_data.id %}">&#128465;&#65039;</a>
        </td>
      </tr>
      {% endfor %}
    </table>

    <p>
      <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}
          <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
      </div>
    </p>

  {% else %}

    <p>No lists found.</p>

  {% endif %}

{% endblock %}
