<!-- register.html -->


{% extends "master.html" %}


{% block title %}Django Portfolio{% endblock %}


{% block content %}

  <br><h1>Register</h1><br>

  {% if not request.user.is_authenticated %}
    <form method='POST'>
      {% csrf_token %}
      {{ form.as_p }}
      <button type='submit'>Register</button>
    </form>
    <br><p>Already have an account? Please <a href="{% url 'login'%}">Login</a></p>
  {% else %}
    {% comment %} <p>You're already logged in and cannot register. Would you like to <a href='/logout/'>logout</a>?</p> {% endcomment %}
    <form method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      You're already logged in and cannot register.<br>
      <button type="submit" class="btn btn-link">Logout?</button>
    </form>
  {% endif %}

{% endblock %}
